<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <title>添加员工薪资信息</title>
  <link href="./asset/css/bootstrap.min.css" rel="stylesheet">
  <link href="./asset/css/fonts.css" rel="stylesheet">
  <link href="./asset/css/style.css" rel="stylesheet">
</head>

<body>
  <!--页面主要内容-->
  <main class="ftdms-layout-content" id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>添加员工薪资信息</h4>
            </div>
            <div class="card-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-3 control-label">薪资单号</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="sno" v-model="sno" readonly="readonly">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">员工</label>
                  <div class="col-md-7">
                    <select class="form-control" id="employid">
                      <option :value="0">---请选择员工---</option>
                      <option :value="item.employid" v-for="item in employ">{{ item.realname }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">基本工资</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="basic" v-model="basic" placeholder="请输入基本工资">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">考勤工资</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="attend" v-model="attend" placeholder="请输入考勤工资">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">奖惩工资</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="reward" v-model="reward" placeholder="请输入奖惩工资">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">其他工资</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="others" v-model="others" placeholder="请输入其他工资">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">总计</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="total" v-model="total" placeholder="请输入总计" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">年月</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="yearx" v-model="yearx" placeholder="请输入年月"
                      @click="getDate7()" readonly="readonly" autocomplete="off">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">备注</label>
                  <div class="col-md-7">
                    <input class="form-control" type="text" id="memo" v-model="memo" placeholder="请输入备注">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <button class="btn btn-primary" @click.prevent="save()">提交保存</button>
                    <button class="btn btn-default" @click.prevent="reset()">取消重置</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="./asset/js/jquery.min.js"></script>
  <script type="text/javascript" src="./asset/layui/layui.js"></script>
  <script type="text/javascript" src="./asset/js/axios.min.js"></script>
  <script type="text/javascript" src="./asset/js/vue.js"></script>
  <script type="text/javascript">
    const vue = new Vue({ // 实例化Vue对象
      el: '#app',// 绑定作用域
      data: { //定义数据
        sno: '', // 定义薪资单号数据
        employid: '0', // 定义员工数据
        basic: '', // 定义基本工资数据
        attend: '', // 定义考勤工资数据
        reward: '', // 定义奖惩工资数据
        others: '', // 定义其他工资数据
        yearx: '', // 定义年月数据
        memo: '', // 定义备注数据
        employ: {}, // 用来保存员工对象数据
      },
      computed:{
		total:{// 总计
			get:function(){ 
				return Number(this.basic)+Number(this.attend)+Number(this.reward)+Number(this.others)+''
			},
			set:function(val){
				
			}
		}
	　},
      methods: {
        save: function () {
          let _this = this;
          var data = {
            sno: _this.sno,
            employid: $('#employid').val(),
            basic: _this.basic,
            attend: _this.attend,
            reward: _this.reward,
            others: _this.others,
            total: _this.total,
            yearx: _this.yearx,
            memo: _this.memo,
          };
          axios.post('http://127.0.0.1:8080/employ/salary/insertSalary.action', data).then(result => {
            if (result.data.code > 0) {
              if (window.confirm('保存成功,是否继续添加？')) {
                _this.reset();
              } else {
                var index = parent.layer.getFrameIndex(window.name);
                parent.location.reload();
                parent.layer.close(index);
              }
            } else {
              console.log('保存失败,请稍后再试');
            }
          });
        },
        reset: function () {
          this.pageLoad();
        },
        pageLoad: function () { // 页面加载
          axios.get('http://127.0.0.1:8080/employ/salary/createSalary.action').then(result => {
            this.sno = result.data.sno;
          });
          this.employid = '0';
          this.basic = '';
          this.attend = '';
          this.reward = '';
          this.others = '';
          this.total = '';
          this.yearx = '';
          this.memo = '';
        },
        validate: function () { // 验证输入非空
        },
        getDate7: function () { // 日历点击事件
          var _this = this;
          var laydate = layui.laydate;
          laydate.render({
            elem: '#yearx',
            show: true,
            done: function (value) {
              _this.yearx = value;
            }
          })
        },
      },
      created() { // 生命周期相关的函数
        let _this = this;
        axios.get('http://127.0.0.1:8080/employ/employ/getAllEmploy.action').then(result => {
          _this.employ = result.data;
        });
        _this.pageLoad();
      },
    })
  </script>


</body>

</html>